/*Bethany Mehring
CSD340
Module 7 Assignment bioSite: Development
2/8/2023*/
header{
    text-align: center;
    color: white;
}
h1{
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 66px;
    margin-top: 0px;
}
h2{
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 32px;
}
h3{
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 20px;
}
h4{
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 14px;
}
p{
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 16px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    max-width: 1250px;
    min-width: 470px;

}
.grid-item{
    background-color: rgba(191,216,210);
    max-height: 700px;
    margin: 30px;
}
.container-grid{
    display: grid;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
}
.button{
    margin: 45px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.aboutmecontainer{
    margin: 10px;
    background-color: rgba(191,216,210);
    max-width: 1250px;
    min-width: 470px;

}
.image{
    padding: 15px;
    margin-top: 15px;
    float: left;
    
}
.text{
    text-align: left;
    margin: 25px 25px 25px 0px;

}
.contains{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px; 
}
h6{
    font-family: 'Handlee', cursive;
    text-align: center;
    font-size: 8px;
}
.images{

    text-align: center;
}
.grid-hobby{
    display: grid;
    grid-template-columns: repeat(3,);

}
.hobby{
    background-color: rgba(191,216,210);
    margin: 50px;
}
body{
    background-color: rgba(254,220,210,.5);

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonlanding{
    border: none;
    color: white;
    background-color: rgba(223,116,74);
}
.headingaboutme{
    background-color: rgba(41, 13, 108,.65);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signature{
    font-family: "Sacramento", cursive;
    font-size: 60px;
    text-align: center;
}
.landingheading{
    background-color: rgba(223,116,74);
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonaboutme,.buttonhobbies,.buttonlanding{
    width: 350px;
    margin: 50px;
}
.buttonaboutme{
    background-color: rgba(41, 13, 108,.65);
    color: white;
    border: none;
}
.buttonhobbies{
    background-color: rgba(115,114,46);
    border: none;
    color: white;
}
.white{
    color: white;
}
.black{
    color: black;
}
.hobbiesheading{
    background: rgba(115,114,46);
}